altair==5.4.1
apache-airflow==2.10.1
beautifulsoup4==4.12.3
duckdb==1.0.1.dev5313
google_api_python_client==2.48.0
Google_Images_Search==1.4.7
nba_api==1.5.2
numpy==2.1.1
pandas==2.2.2
plotly==5.24.0
protobuf==5.28.0
python_dateutil==2.8.2
Requests==2.32.3
st_theme==1.2.3
streamlit==1.35.0
streamlit_modal==0.1.2
streamlit_searchbox==0.1.16
streamlit_theme==0.58.0
